<article class="post">
    <div class="post-title">
        <a href="/post/{{id}}">{{title}}</a>
    </div>
    <div class="post-text">
        <p>{{body}}</p>
    </div>
    <div class="meta">
        <a href="/post/{{id}}" class="comment-amount">{{comments.length}} {{format_plural "comment"
            comments.length}}</a>
    </div>
</article>